# Load the flake development shell when entering this directory.
# Requires direnv; nix-direnv is recommended for caching.
#
# When using languages.python.version = "file", reload when .python-version
# changes (nix-direnv does not watch it by default).
watch_file .python-version
use flake
